@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    /*fonts*/
    --font-lato: 'Lato', sans-serif;

    /*colors*/
    --color-white: #FFFFFF;
    --color-gray: #A5A7AF;
    --color-gray2: #D8D9E2;
    --color-purple: #7908FF;
    --color-purpleLight: #F4ECFE;
    --color-black: #373744;
}