/*abstracts*/
@use './scss/abstracts/variables';
@use './scss/abstracts/mixins';


/*base*/
@use './scss/base/base';
@use './scss/base/resets';

body {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100% 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    background-color: var(--color-white);
    border-right: 1px solid var(--color-gray2);
    padding: 32px 24px;

    .user {
      margin-bottom: 35px;
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        margin-left: 12px;
        font-size: 18px;
        font-weight: 400;
        color: var(--color-black);
      }
    }

    .menu, .products {
      li {
        margin-bottom: 17px;

        a {
          width: 100%;
          display: flex;
          padding: 15px 22px;
          color: var(--color-gray);
          font-size: 16px;
          font-weight: 400;

          &.selected {
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
            border-radius: 45px;
            color: var(--color-purple);
            font-weight: 500s;
          }
        }
      }
    }

    .products {
      margin-top: 64px;
      > span {
        margin-left: 22px;
        font-size: 12px;
        color: var(--color-gray2);
        font-weight: 700;
        text-transform: uppercase;
      }
      li {
        a {
          display: flex;
          align-items: center;
          span {
            color: var(--color-purple);
            font-size: 12px;
            font-weight: 400;
            padding: 6px 14px;
            margin-left: 12px;
            background: var(--color-purpleLight);
            border-radius: 29px;
          }
        }
      }
    }
  }

  .panel {

    .panel-row {
      &.total {
        padding: 27px 33px;
        padding-bottom: 17px;
        border-bottom: 1px solid var(--color-gray2);
        .total-row-1 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          > span {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-black);
          }

          .alerts {
            display: flex;
            flex-direction: row;
            align-items: center;

            .alert1, .alert2 {
              img {
                width: 22px;
              }
            }

            .alert1 {
              position: relative;
              margin-right: 20px;
              &::before {
                content: "6";
                display: flex;
                width: 18px;
                height: 18px;
                background-color: #E81F37;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                color: var(--color-white);
                font-size: 12px;
                top: -15%;
                right: -15%;
                position: absolute;
              }
            }
          }
        }

        .total-row-2 {
          margin-top: 37px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;

          @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
          }

          .total-column {
            @media screen and (max-width: 768px) {
              margin-bottom: 2rem;
            }
            > span {
              font-size: 16px;
              color: var(--color-gray);
              font-weight: 500;
              margin-bottom: 7px;
            }
            p {
              font-size: 32px;
              color: var(--color-black);
              font-weight: 700;

              span {
                margin-right: 8px;
                font-size: 14px;
                color: var(--color-purple);
                font-weight: 400;
              }
            }
          }

          .actions {
            display: flex;
            align-items: center;
            button {
              width: 186px;
              height: 44px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              font-weight: 500;
              border-radius: 50px;
              cursor: pointer;

              @media screen and (max-width: 768px) {
                width: 160px;
              }

              &#depositar {
                background-color: var(--color-purple);
                color: var(--color-white);
                border: 1px solid var(--color-purple);

                &:hover {
                  background-color: var(--color-purpleLight);
                  color: var(--color-purple);
                  transition-duration: .5s;
                }
              }

              &#comprar {
                background-color: var(--color-purpleLight);
                color: var(--color-purple);
                border: 1px solid var(--color-purpleLight);
                margin-left: 12px;

                &:hover {
                  border-color: var(--color-purple);
                  transition-duration: .5s;
                }
              }
            }
          }
        }
      }

      &.billeteras {
        background-color: #fdfcff;
        padding: 27px 33px;
        display: grid;
    
        h2 {
          color: var(--color-black);
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 47px;
        }
        .grid-billeteras {
          @media screen and (max-width: 768px) {
            overflow-x: scroll;
          }
        }
        .labels {
          display: grid;
          grid-template-columns: 5% 20% 10% 8% 15%;
          grid-column-gap: 5%;
          margin-bottom: 18px;
          @media screen and (max-width: 768px) {
            width: 1200px;
          }
          .column1 {
            display: flex;
            justify-content: center;
          }
          span {
            font-size: 16px;
            color: var(--color-gray);
            font-weight: 400;
          }
        }

        .row-billeteras {
          margin-bottom: 7px;
          height: 74px;
          background-color: #fff;
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.0445539);
          border-radius: 6px;

          display: grid;
          grid-template-columns: 5% 20% 10% 8% 15% auto;
          align-items: center;
          grid-column-gap: 5%;
          @media screen and (max-width: 768px) {
            width: 1200px;
          }

          .column1 {
            display: flex;
            justify-content: center;
          }

          .currency {
            display: flex;
            align-items: center;
            img {
              margin-right: 17px;
            }
          }

          .equivalente {
            display: flex;
            justify-content: flex-end;
          }

          .porcentaje {
            padding-left: 2rem;
          }

          .button {
            display: flex;
            padding-right: 24px;
            justify-content: flex-end;
            button {
              display: flex;
              width: 146px;
              height: 42px;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              color: var(--color-white);
              background-color: var(--color-purple);
              border-radius: 50px;
              border: 1px solid var(--color-purple);
              cursor: pointer;

              &:hover {
                background-color: var(--color-purpleLight);
                color: var(--color-purple);
                border-color: var(--color-purpleLight);
                transition-duration: .5s;
              }
            }
          }
        }
      }

      &.cotizaciones {
        background-color: #fdfcff;
        padding: 27px 33px;
        display: flex;
        flex-direction: column;
        h2 {
          color: var(--color-black);
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 47px;
          display: flex;
          justify-content: space-between;

          a {
            font-size: 14px;
            font-weight: 400;
            color: var(--color-purple);
          }
        }

        .slick-slide {
          padding: 0 1rem;
          &.slick-current {
            padding-left: 0;
          }

          > div {
            display: flex;
            height: 132px;
            background-color: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
            border-radius: 6px;
            padding: 1rem 1.5rem;


            .name_currency {
              font-size: 16px;
              color: var(--color-black);
              font-weight: 400;
            }
            .price_currency {
              font-size: 24px;
              margin-top: 13px;
            }
            .last_day {
              margin-top: 1.5rem;
              font-size: 12px;
              color: var(--color-gray);
              span {
                margin-left: .4rem;

                &.negativo {
                  color: red;
                }
                &.positivo {
                  color: green;
                }
              }
            }
          }
        }
        .slick-arrow {
          width: 52px;
          height: 52px;
          background-color: #fff;
          box-shadow: 0px 0px 50px rgb(0 0 0 / 5%);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;

          &.slick-prev {
            &::after {
              transform: rotate(180deg);
            }
          }

          &::before {
            display: none;
          }
          &::after {
            content: "";
            width: 20px;
            height: 20px;
            display: flex;
            border-radius: 50%;
            background-image: url('./img/arrow-slider.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: 0 auto;
          }
        }
      }

    }
  }
}
